<!-- Header -->
<header class="intro-header">
    <div class="container">
        <div class="intro-message">
            <h1><strong>Never Miss An Event</strong></h1>
  <hr class="intro-divider">
            <h2><strong>Just DockIT</strong></h2>

            <!-- <ul class="list-inline intro-social-buttons">
                <li class="list-inline-item">
                    <a href="#" class="btn btn-secondary btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">DockIt</span></a>
                </li>
            </ul> -->
        </div>
    </div>
</header>


    <!-- <div class="events-list">
    <%= image_tag('Upcoming-Events.jpg')  %>
  </div> -->

      <%= render 'list' %>
